<a href="https://colab.research.google.com/github/Renato-Eishima/Python_analise_financas/blob/main/Calculando_covariancia_correlacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Calculando a Covariância e a Correlação

In [1]:
!pip install -q yfinance

     |████████████████████████████████| 63 kB 1.3 MB/s
     |████████████████████████████████| 6.4 MB 11.9 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [3]:
acoes = ['EGIE3.SA', 'ITSA4.SA', 'SULA11.SA', 'ABEV3.SA', 'LREN3.SA', 'SLCE3.SA', 'BBAS3.SA', 'CSAN3.SA', 'B3SA3.SA'] 
carteira = pd.DataFrame()

for acao in acoes:
  carteira[acao] = yf.download(acao, start = '2017-01-01')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
carteira.head()

             EGIE3.SA  ITSA4.SA  SULA11.SA  ...   BBAS3.SA  CSAN3.SA  B3SA3.SA
Date                                        ...
2017-01-02  19.134182  5.317467  11.952115  ...  21.435797  8.195604  4.571316
2017-01-03  19.875389  5.550631  12.532647  ...  22.416521  8.577257  4.759449
2017-01-04  19.622831  5.583017  12.997072  ...  22.299772  8.581668  4.849302
2017-01-05  19.480082  5.634831  12.969751  ...  22.245281  8.566227  4.790337
2017-01-06  19.238499  5.615400  12.867307  ...  22.486576  8.367679  4.787529

[5 rows x 9 columns]

In [5]:
carteira.tail()

             EGIE3.SA  ITSA4.SA  SULA11.SA  ...   BBAS3.SA   CSAN3.SA  B3SA3.SA
Date                                        ...
2022-02-10  40.360001     10.09  25.420000  ...  32.270000  22.320000     14.10
2022-02-11  40.509998     10.52  25.450001  ...  33.400002  22.270000     13.92
2022-02-14  40.520000     10.48  25.280001  ...  33.540001  22.270000     14.12
2022-02-15  40.520000     10.61  25.549999  ...  35.130001  22.299999     14.60
2022-02-16  40.570000     10.57  25.500000  ...  35.389999  22.660000     14.60

[5 rows x 9 columns]

In [6]:
# calculando o retorno logarítmico da carteira
ret_log = np.log(carteira / carteira.shift(1))
ret_log

            EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
Date                                       ...
2017-01-02       NaN       NaN        NaN  ...       NaN       NaN       NaN
2017-01-03  0.038006  0.042915   0.047429  ...  0.044736  0.045516  0.040331
2017-01-04 -0.012788  0.005818   0.036387  ... -0.005222  0.000514  0.018703
2017-01-05 -0.007301  0.009238  -0.002104  ... -0.002447 -0.001801 -0.012234
2017-01-06 -0.012479 -0.003454  -0.007930  ...  0.010789 -0.023451 -0.000586
...              ...       ...        ...  ...       ...       ...       ...
2022-02-10 -0.003463  0.010962   0.019063  ...  0.010905 -0.001791 -0.004246
2022-02-11  0.003710  0.041733   0.001180  ...  0.034418 -0.002243 -0.012848
2022-02-14  0.000247 -0.003810  -0.006702  ...  0.004183  0.000000  0.014266
2022-02-15  0.000000  0.012328   0.010624  ...  0.046317  0.001346  0.033429
2022-02-16  0.001233 -0.003777  -0.001959  ...  0.007374  0.016015  0.000000

[1276 rows x 9 columns]

In [7]:
# calculando a média do retorno logarítmico de cada ação da carteira
ret_log[['EGIE3.SA', 'ITSA4.SA', 'SULA11.SA', 'ABEV3.SA', 'LREN3.SA', 'SLCE3.SA', 'BBAS3.SA', 'CSAN3.SA', 'B3SA3.SA']].mean() * 250

EGIE3.SA     0.147363
ITSA4.SA     0.134710
SULA11.SA    0.148582
ABEV3.SA     0.015665
LREN3.SA     0.083333
SLCE3.SA     0.459513
BBAS3.SA     0.098307
CSAN3.SA     0.199412
B3SA3.SA     0.227690
dtype: float64

In [8]:
# calculando a volatilidade anual de cada ação da carteira
ret_log[['EGIE3.SA', 'ITSA4.SA', 'SULA11.SA', 'ABEV3.SA', 'LREN3.SA', 'SLCE3.SA', 'BBAS3.SA', 'CSAN3.SA', 'B3SA3.SA']].std() * 250 * 0.5

EGIE3.SA     1.919492
ITSA4.SA     2.434833
SULA11.SA    2.986450
ABEV3.SA     2.360298
LREN3.SA     3.247611
SLCE3.SA     3.118103
BBAS3.SA     3.315721
CSAN3.SA     3.021258
B3SA3.SA     3.059497
dtype: float64

## Covariância e Correlação


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [9]:
# calculando a variância de cada ação da carteira
EGIE_var = ret_log['EGIE3.SA'].var()
EGIE_var

0.00023580479289764142

In [10]:
ITSA_var = ret_log['ITSA4.SA'].var()
ITSA_var

0.0003794184820164964

In [11]:
SULA_var = ret_log['SULA11.SA'].var()
SULA_var

0.0005708084695427506

In [12]:
ABEV_var = ret_log['ABEV3.SA'].var()
ABEV_var

0.00035654450159316466

In [13]:
LREN_var = ret_log['LREN3.SA'].var()
LREN_var

0.000675006718486324

In [14]:
SLCE_var = ret_log['SLCE3.SA'].var()
SLCE_var

0.0006222441448546911

In [15]:
BBAS_var = ret_log['BBAS3.SA'].var()
BBAS_var

0.0007036161973524156

In [16]:
CSAN_var = ret_log['CSAN3.SA'].var()
CSAN_var

0.0005841918554663865

In [17]:
B3SA_var = ret_log['B3SA3.SA'].var()
B3SA_var

0.0005990732391261904

In [18]:
# Cálculo da variância anual de cada ação
EGIE_var_anual = ret_log['EGIE3.SA'].var() * 250
EGIE_var_anual

0.058951198224410355

In [19]:
ITSA_var_anual = ret_log['ITSA4.SA'].var() * 250
ITSA_var_anual

0.0948546205041241

In [20]:
SULA_var_anual = ret_log['SULA11.SA'].var() * 250
SULA_var_anual

0.14270211738568767

In [21]:
ABEV_var_anual = ret_log['ABEV3.SA'].var() * 250
ABEV_var_anual

0.08913612539829116

In [22]:
LREN_var_anual = ret_log['LREN3.SA'].var() * 250
LREN_var_anual

0.168751679621581

In [23]:
SLCE_var_anual = ret_log['SLCE3.SA'].var() * 250
SLCE_var_anual

0.15556103621367276

In [24]:
BBAS_var_anual = ret_log['BBAS3.SA'].var() * 250
BBAS_var_anual

0.17590404933810388

In [25]:
CSAN_var_anual = ret_log['CSAN3.SA'].var() * 250
CSAN_var_anual

0.14604796386659663

In [26]:
B3SA_var_anual = ret_log['B3SA3.SA'].var() * 250
B3SA_var_anual

0.1497683097815476

Matriz de Covariância:

In [ ]:
cov_matriz = ret_log.cov()
cov_matriz

           EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
EGIE3.SA   0.000237  0.000166   0.000140  ...  0.000223  0.000175  0.000198
ITSA4.SA   0.000166  0.000379   0.000199  ...  0.000409  0.000257  0.000298
SULA11.SA  0.000140  0.000199   0.000573  ...  0.000284  0.000248  0.000288
ABEV3.SA   0.000120  0.000190   0.000159  ...  0.000227  0.000194  0.000199
LREN3.SA   0.000198  0.000301   0.000300  ...  0.000423  0.000302  0.000370
SLCE3.SA   0.000091  0.000099   0.000141  ...  0.000147  0.000153  0.000156
BBAS3.SA   0.000223  0.000409   0.000284  ...  0.000704  0.000345  0.000410
CSAN3.SA   0.000175  0.000257   0.000248  ...  0.000345  0.000586  0.000310
B3SA3.SA   0.000198  0.000298   0.000288  ...  0.000410  0.000310  0.000600

[9 rows x 9 columns]

In [27]:
# matriz de covariância anual
cov_matriz_anual = ret_log.cov() * 250
cov_matriz_anual

           EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
EGIE3.SA   0.058951  0.041366   0.034779  ...  0.055616  0.043477  0.049275
ITSA4.SA   0.041366  0.094855   0.049666  ...  0.102316  0.063927  0.074228
SULA11.SA  0.034779  0.049666   0.142702  ...  0.070940  0.061811  0.071843
ABEV3.SA   0.029897  0.047346   0.039624  ...  0.056714  0.048368  0.049708
LREN3.SA   0.049422  0.074978   0.074645  ...  0.105603  0.075228  0.092462
SLCE3.SA   0.022648  0.024248   0.034940  ...  0.036141  0.038211  0.038677
BBAS3.SA   0.055616  0.102316   0.070940  ...  0.175904  0.085913  0.102309
CSAN3.SA   0.043477  0.063927   0.061811  ...  0.085913  0.146048  0.077145
B3SA3.SA   0.049275  0.074228   0.071843  ...  0.102309  0.077145  0.149768

[9 rows x 9 columns]

Matriz de correlação:

In [28]:
corr_matriz = ret_log.corr()
corr_matriz

           EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
EGIE3.SA   1.000000  0.553183   0.379189  ...  0.546159  0.468565  0.524412
ITSA4.SA   0.553183  1.000000   0.426886  ...  0.792090  0.543133  0.622769
SULA11.SA  0.379189  0.426886   1.000000  ...  0.447755  0.428159  0.491428
ABEV3.SA   0.412435  0.514900   0.351335  ...  0.452927  0.423919  0.430217
LREN3.SA   0.495507  0.592622   0.481016  ...  0.612937  0.479188  0.581607
SLCE3.SA   0.236506  0.199613   0.234508  ...  0.218481  0.253509  0.253393
BBAS3.SA   0.546159  0.792090   0.447755  ...  1.000000  0.536012  0.630324
CSAN3.SA   0.468565  0.543133   0.428159  ...  0.536012  1.000000  0.521618
B3SA3.SA   0.524412  0.622769   0.491428  ...  0.630324  0.521618  1.000000

[9 rows x 9 columns]