<a href="https://colab.research.google.com/github/Renato-Eishima/Python_analise_financas/blob/main/Calculando_risco_carteira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cálculo do Risco da Carteira

Calculando o risco de uma carteira composta pelas ações da carteira do Dica de Hoje. Os dados serão obtidos do Yahoo Finance do período de 1º janeiro de 2017 até o dia atual.

In [1]:
!pip install -q yfinance

     |████████████████████████████████| 63 kB 1.2 MB/s
     |████████████████████████████████| 6.4 MB 38.2 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [3]:
acoes = ['EGIE3.SA', 'ITSA4.SA', 'SULA11.SA', 'ABEV3.SA', 'LREN3.SA', 'SLCE3.SA', 'BBAS3.SA', 'CSAN3.SA', 'B3SA3.SA'] 
carteira = pd.DataFrame()

for acao in acoes:
  carteira[acao] = yf.download(acao, start = '2017-01-01')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
print(carteira.head())
print('\n')
print(carteira.tail())

             EGIE3.SA  ITSA4.SA  SULA11.SA  ...   BBAS3.SA  CSAN3.SA  B3SA3.SA
Date                                        ...
2017-01-02  19.134180  5.317467  11.952116  ...  21.435801  8.195603  4.571316
2017-01-03  19.875393  5.550633  12.532644  ...  22.416523  8.577256  4.759449
2017-01-04  19.622833  5.583017  12.997071  ...  22.299770  8.581670  4.849302
2017-01-05  19.480082  5.634830  12.969754  ...  22.245287  8.566225  4.790336
2017-01-06  19.238499  5.615400  12.867305  ...  22.486576  8.367679  4.787529

[5 rows x 9 columns]


             EGIE3.SA  ITSA4.SA  SULA11.SA  ...   BBAS3.SA   CSAN3.SA  B3SA3.SA
Date                                        ...
2022-02-11  40.509998     10.52  25.450001  ...  33.400002  22.270000     13.92
2022-02-14  40.520000     10.48  25.280001  ...  33.540001  22.270000     14.12
2022-02-15  40.520000     10.61  25.549999  ...  35.130001  22.299999     14.60
2022-02-16  40.549999     10.58  25.740000  ...  35.330002  22.920000     14.59
2022-02-17  40.500000     10.51  26.150000  ...  35.240002  23.049999     14.48

[5 rows x 9 columns]

In [5]:
ret_log = np.log(carteira / carteira.shift(1))
ret_log

            EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
Date                                       ...
2017-01-02       NaN       NaN        NaN  ...       NaN       NaN       NaN
2017-01-03  0.038006  0.042915   0.047428  ...  0.044736  0.045516  0.040331
2017-01-04 -0.012789  0.005817   0.036387  ... -0.005222  0.000514  0.018703
2017-01-05 -0.007301  0.009238  -0.002104  ... -0.002446 -0.001801 -0.012234
2017-01-06 -0.012479 -0.003454  -0.007930  ...  0.010788 -0.023451 -0.000586
...              ...       ...        ...  ...       ...       ...       ...
2022-02-11  0.003710  0.041733   0.001180  ...  0.034418 -0.002243 -0.012848
2022-02-14  0.000247 -0.003810  -0.006702  ...  0.004183  0.000000  0.014266
2022-02-15  0.000000  0.012328   0.010624  ...  0.046317  0.001346  0.033429
2022-02-16  0.000740 -0.002832   0.007409  ...  0.005677  0.027423 -0.000685
2022-02-17 -0.001234 -0.006638   0.015803  ... -0.002551  0.005656 -0.007568

[1277 rows x 9 columns]

In [6]:
# calculando a média do retorno logarítmico de cada ação da carteira
ret_log[['EGIE3.SA', 'ITSA4.SA', 'SULA11.SA', 'ABEV3.SA', 'LREN3.SA', 'SLCE3.SA', 'BBAS3.SA', 'CSAN3.SA', 'B3SA3.SA']].mean() * 250

EGIE3.SA     0.146909
ITSA4.SA     0.133489
SULA11.SA    0.153398
ABEV3.SA     0.012124
LREN3.SA     0.088797
SLCE3.SA     0.452594
BBAS3.SA     0.097398
CSAN3.SA     0.202600
B3SA3.SA     0.225895
dtype: float64

In [7]:
# calculando a volatilidade anual de cada ação da carteira
ret_log[['EGIE3.SA', 'ITSA4.SA', 'SULA11.SA', 'ABEV3.SA', 'LREN3.SA', 'SLCE3.SA', 'BBAS3.SA', 'CSAN3.SA', 'B3SA3.SA']].std() * 250 * 0.5

EGIE3.SA     1.918748
ITSA4.SA     2.433989
SULA11.SA    2.985833
ABEV3.SA     2.360249
LREN3.SA     3.246655
SLCE3.SA     3.118035
BBAS3.SA     3.314397
CSAN3.SA     3.021088
B3SA3.SA     3.058444
dtype: float64

## Covariância e Correlação


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [8]:
# Calculando a variância de cada ação da carteira (necessário p/ o cálculo mais pra frente)
ITSA_var = ret_log['ITSA4.SA'].var()
ITSA_var

0.0003791552497610612

In [9]:
SULA_var = ret_log['SULA11.SA'].var()
SULA_var

0.0005705727408661139

In [10]:
ABEV_var = ret_log['ABEV3.SA'].var()
ABEV_var

0.000356529516218018

In [11]:
LREN_var = ret_log['LREN3.SA'].var()
LREN_var

0.0006746092268941807

In [12]:
SLCE_var = ret_log['SLCE3.SA'].var()
SLCE_var

0.000622217198901279

In [13]:
BBAS_var = ret_log['BBAS3.SA'].var()
BBAS_var

0.0007030545738641042

In [14]:
CSAN_var = ret_log['CSAN3.SA'].var()
CSAN_var

0.0005841263750254073

In [15]:
B3SA_var = ret_log['B3SA3.SA'].var()
B3SA_var

0.0005986612118843824

In [16]:
# Cálculo da variância anual de cada ação
EGIE_var_anual = ret_log['EGIE3.SA'].var() * 250
EGIE_var_anual

0.05890551081711142

In [17]:
ITSA_var_anual = ret_log['ITSA4.SA'].var() * 250
ITSA_var_anual

0.09478881244026531

In [18]:
SULA_var_anual = ret_log['SULA11.SA'].var() * 250
SULA_var_anual

0.14264318521652847

In [19]:
ABEV_var_anual = ret_log['ABEV3.SA'].var() * 250
ABEV_var_anual

0.0891323790545045

In [20]:
LREN_var_anual = ret_log['LREN3.SA'].var() * 250
LREN_var_anual

0.16865230672354517

In [21]:
SLCE_var_anual = ret_log['SLCE3.SA'].var() * 250
SLCE_var_anual

0.15555429972531976

In [22]:
BBAS_var_anual = ret_log['BBAS3.SA'].var() * 250
BBAS_var_anual

0.17576364346602605

In [23]:
CSAN_var_anual = ret_log['CSAN3.SA'].var() * 250
CSAN_var_anual

0.14603159375635183

In [24]:
B3SA_var_anual = ret_log['B3SA3.SA'].var() * 250
B3SA_var_anual

0.14966530297109562

Matriz de Covariância:

In [25]:
cov_matriz = ret_log.cov()
cov_matriz

           EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
EGIE3.SA   0.000236  0.000165   0.000139  ...  0.000222  0.000174  0.000197
ITSA4.SA   0.000165  0.000379   0.000198  ...  0.000409  0.000255  0.000297
SULA11.SA  0.000139  0.000198   0.000571  ...  0.000284  0.000247  0.000287
ABEV3.SA   0.000120  0.000189   0.000158  ...  0.000227  0.000193  0.000199
LREN3.SA   0.000198  0.000300   0.000298  ...  0.000422  0.000301  0.000369
SLCE3.SA   0.000091  0.000097   0.000139  ...  0.000144  0.000152  0.000155
BBAS3.SA   0.000222  0.000409   0.000284  ...  0.000703  0.000343  0.000409
CSAN3.SA   0.000174  0.000255   0.000247  ...  0.000343  0.000584  0.000308
B3SA3.SA   0.000197  0.000297   0.000287  ...  0.000409  0.000308  0.000599

[9 rows x 9 columns]

In [26]:
# matriz de covariância anual
cov_matriz_anual = ret_log.cov() * 250
cov_matriz_anual

           EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
EGIE3.SA   0.058906  0.041337   0.034747  ...  0.055573  0.043441  0.049240
ITSA4.SA   0.041337  0.094789   0.049599  ...  0.102242  0.063865  0.074182
SULA11.SA  0.034747  0.049599   0.142643  ...  0.070886  0.061820  0.071759
ABEV3.SA   0.029880  0.047328   0.039515  ...  0.056680  0.048262  0.049697
LREN3.SA   0.049383  0.074895   0.074617  ...  0.105543  0.075273  0.092375
SLCE3.SA   0.022636  0.024265   0.034838  ...  0.036104  0.038074  0.038682
BBAS3.SA   0.055573  0.102242   0.070886  ...  0.175764  0.085850  0.102233
CSAN3.SA   0.043441  0.063865   0.061820  ...  0.085850  0.146032  0.077071
B3SA3.SA   0.049240  0.074182   0.071759  ...  0.102233  0.077071  0.149665

[9 rows x 9 columns]

Matriz de correlação:

In [27]:
corr_matriz = ret_log.corr()
corr_matriz

           EGIE3.SA  ITSA4.SA  SULA11.SA  ...  BBAS3.SA  CSAN3.SA  B3SA3.SA
EGIE3.SA   1.000000  0.553195   0.379062  ...  0.546163  0.468375  0.524417
ITSA4.SA   0.553195  1.000000   0.426545  ...  0.792109  0.542827  0.622813
SULA11.SA  0.379062  0.426545   1.000000  ...  0.447685  0.428335  0.491122
ABEV3.SA   0.412374  0.514902   0.350442  ...  0.452846  0.423023  0.430276
LREN3.SA   0.495451  0.592347   0.481081  ...  0.613013  0.479643  0.581427
SLCE3.SA   0.236476  0.199832   0.233879  ...  0.218350  0.252621  0.253514
BBAS3.SA   0.546163  0.792109   0.447685  ...  1.000000  0.535860  0.630326
CSAN3.SA   0.468375  0.542827   0.428335  ...  0.535860  1.000000  0.521325
B3SA3.SA   0.524417  0.622813   0.491122  ...  0.630326  0.521325  1.000000

[9 rows x 9 columns]

## Cálculo do Risco da Carteira

Deixando os pesos iguais de cada ação:

In [28]:
pesos = np.array([1/9, 1/9, 1/9, 1/9, 1/9, 1/9, 1/9, 1/9, 1/9])
pesos

array([0.11111111, 0.11111111, 0.11111111, 0.11111111, 0.11111111,
       0.11111111, 0.11111111, 0.11111111, 0.11111111])

In [29]:
pesos.sum()

1.0

Variância da Carteira:

In [30]:
var_carteira = np.dot(pesos.T, np.dot(ret_log.cov() * 250, pesos))
var_carteira

0.06470193036692883

Volatilidade da Carteira:

In [31]:
volatilidade_cart = var_carteira ** 0.5
volatilidade_cart # 0.25

0.2543657413389799

In [46]:
# imprimindo a volatilidade da carteira em porcentagem
print('A volatilidade da carteira é ' + str(round(volatilidade_cart * 100, 2)) + '%')

A volatilidade da carteira é 25.44%

OU

In [44]:
print('A volatilidade da carteira é {}%'.format(round(volatilidade_cart * 100, 2)))

A volatilidade da carteira é 25.44%

OU

In [45]:
print(f'A volatilidade da carteira é {round(volatilidade_cart * 100, 2)}%')

A volatilidade da carteira é 25.44%

Colocando pesos diferente p/ cada ação:

In [35]:
pesos2 = np.array([0.15, 0.12, 0.15, 0.08, 0.12, 0.1, 0.1, 0.08, 0.1])
pesos2

array([0.15, 0.12, 0.15, 0.08, 0.12, 0.1 , 0.1 , 0.08, 0.1 ])

In [36]:
pesos2.sum()

1.0

Variância da Carteira:

In [37]:
var_carteira2 = np.dot(pesos2.T, np.dot(ret_log.cov() * 250, pesos2))
var_carteira2

0.06378761964381219

Volatilidade da Carteira:

In [38]:
volatilidade_cart2 = var_carteira2 ** 0.5
volatilidade_cart2

0.25256211046752874

In [43]:
# imprimindo a volatilidade da carteira 2 em porcentagem
print(f'A volatilidade da carteira 2 é {round(volatilidade_cart2 * 100, 2)}%')

A volatilidade da carteira 2 é 25.26%